/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.747);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.youtubesearch {
  background-color: black;
  height: 30px;
  border: none;
  padding: 10px;
  border-radius: 50px 0 0 50px;
  width: 500px;
}
.inp {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 50px;
}
.search {
  padding: 0 10px;
}
.searchyoutube {
  display: flex;
}
