
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
.texts{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:850px ;
    font-size: 2rem;
    .desc{
        font-size: 1.5rem;
        margin:15px 0 ;

    }
    .shopbtn{
        border: 2px solid white;
        background-color: rgba(0, 0, 0, 0);
        color: white;
        padding: 15px 40px;
        transition: 0.5s;
    }
    .shopbtn:hover{
        background-color: white;
        color: black;

    }
    .clubbtn{
        border: 2px solid white;
        background-color: white;
        color: black;
        padding: 15px 40px;
        transition: 0.5s;

    }
    .clubbtn:hover{
        background-color: rgba(255, 255, 255, 0);
        color: white;
    }
    .buttons{
        display: flex;
        gap:10px
    }
}
    
}
.hero{
    background-image:url('./../../../../assets/hero_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
}

@media only screen and (max-width: 600px) {
    .texts {
     .buttons{
        display: flex;
        flex-wrap: wrap;
     }
    }
  }