* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: poppins;
}

header {
  border-bottom: 1px dotted gray;
}

.container {
  max-width: 1140px;
  margin: auto;
}
.container .nav {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .nav .pages {
  display: flex;
  gap: 40px;
}
.container .nav .pages li {
  list-style: none;
}
.container .nav .pages a {
  color: black;
}
.container .nav .pages .find {
  position: relative;
}
.container .nav .pages .fa-chevron-down {
  font-size: 15px;
}
.container .nav .pages .select {
  position: absolute;
  background-color: white;
  width: 180px;
  top: 30px;
  right: 0px;
  left: 0px;
  z-index: 5;
  display: none;
  border-radius: 10px;
}
.container .nav .pages .select li {
  padding: 10px;
}
.container .nav .pages .find:hover .select {
  display: block;
}
.container .nav .pages .feature {
  position: absolute;
  background-color: white;
  width: 200px;
  top: 30px;
  left: 0px;
  z-index: 5;
  display: none;
  border-radius: 10px;
}
.container .nav .pages .feature li {
  padding: 10px;
}
.container .nav .pages .find:hover .feature {
  display: block;
}

.main {
  margin-top: 80px;
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "mainimg mainimg first second" "mainimg mainimg third fourth";
  gap: 20px;
}
.main .mainimg {
  background-image: url(/hexashop/assets/images/left-banner-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid-area: mainimg;
  height: 80vh;
}
.main .mainimg button {
  width: 149px;
  height: 48px;
  background-color: rgba(250, 235, 215, 0);
  border: 1px solid white;
  color: white;
  margin-top: 20px;
  transition: 0.3s;
}
.main .mainimg button:hover {
  color: black;
  background-color: white;
}
.main .mainimg h1 {
  font-size: 50px;
  padding-bottom: 20px;
}
.main .mainimg h1,
.main .mainimg p,
.main .mainimg button {
  margin-left: 80px;
}
.main .first {
  grid-area: first;
  background-image: url(/hexashop/assets/images/baner-right-image-04.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.main .more {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.77);
  width: 300px;
  height: 300px;
  top: 15px;
  right: 25px;
  display: none;
}
.main .more button {
  width: 149px;
  height: 48px;
  background-color: black;
  border: 1px solid white;
  color: white;
}
.main .first:hover .more {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 1s;
}
.main .second {
  background-image: url(/hexashop/assets/images/baner-right-image-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-area: second;
  position: relative;
}
.main .mores {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.77);
  width: 300px;
  height: 300px;
  display: none;
}
.main .mores button {
  width: 149px;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.827);
  border: 1px solid white;
  color: white;
}
.main .second:hover .mores {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .third {
  background-image: url(/hexashop/assets/images/baner-right-image-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-area: third;
  position: relative;
}
.main .third button {
  width: 149px;
  height: 48px;
  background-color: black;
  border: 1px solid white;
  color: white;
}
.main .moret {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.77);
  width: 300px;
  height: 300px;
  display: none;
}
.main .third:hover .moret {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .fourth {
  background-image: url(/hexashop/assets/images/baner-right-image-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-area: fourth;
  position: relative;
}
.main .fourth button {
  width: 149px;
  height: 48px;
  background-color: black;
  border: 1px solid white;
  color: white;
}
.main .moref {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.77);
  width: 300px;
  height: 300px;
  display: none;
}
.main .fourth:hover .moref {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.latest {
  margin-top: 150px;
  padding-bottom: 150px;
  border-top: 1px dotted gray;
  border-bottom: 1px dotted gray;
}
.latest .head {
  margin-top: 100px;
  margin-bottom: 50px;
}
.latest .head p {
  font-style: italic;
  color: #a1a1a1;
  font-size: 14px;
}
.latest .head h1 {
  font-size: 32px;
  font-weight: 700;
}
.latest .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.latest .cards .card .card-image {
  position: relative;
}
.latest .cards .card .card-image:hover .access {
  bottom: 50px;
  opacity: 1;
}
.latest .cards h2 {
  font-size: 22px;
}
.latest .cards p {
  color: #a1a1a1;
  font-size: 18px;
}
.latest .cards .rate {
  display: flex;
  justify-content: space-between;
}
.latest .cards .rate i {
  font-size: 13px;
}
.latest .cards .access {
  position: absolute;
  bottom: 0;
  left: 90px;
  opacity: 0;
  transition: all 0.5s;
}
.latest .cards .access i {
  padding: 20px;
  background-color: white;
}
.latest .fa-chevron-left,
.latest .fa-chevron-right {
  padding: 20px;
  border: 1px solid black;
}

.explore {
  margin-top: 150px;
  margin-bottom: 150px;
  font-size: 17px;
}
.explore .latherBag,
.explore .different {
  width: 265px;
  height: 265px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.explore .products {
  display: grid;
  grid-template-areas: "desc desc latherbag image1" "desc desc image2 different";
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.explore .products h1 {
  font-size: 40px;
}
.explore .products p {
  color: #aaaaaa;
  padding: 10px 0;
}
.explore .products .zip {
  padding: 20px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
.explore .products .zip i {
  font-size: 32px;
}
.explore .products button {
  width: 150px;
  height: 50px;
  background-color: white;
  margin-top: 30px;
  border: 0.5px solid black;
  transition: 0.3s;
}
.explore .products button:hover {
  background-color: black;
  color: white;
}
.explore .desc {
  grid-area: desc;
}
.explore .latherBag {
  grid-area: latherbag;
}
.explore .image1 {
  grid-area: image1;
}
.explore .image2 {
  grid-area: image2;
}
.explore .different {
  grid-area: different;
}/*# sourceMappingURL=main.css.map */